<section class="footer">
  <div class="footer__container container">
    <div class="footer__contact-me">
      <h3>Contact Me</h3>
      <span class="sub-content">Send me a message</span>
      <form>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <textarea placeholder="Message"></textarea>
        <div>
          <button type="submit" class="button">SEND</button>
        </div>
      </form>
    </div>
    <div class="footer__social">
      <div class="footer__social-subscribe">
        <h3>Subscribe to my blog</h3>
        <span class="sub-content">Get notifications on new post!</span>
        <form>
          <input type="text" placeholder="Email">
          <div>
            <button type="submit" class="button">SUBSCRIBE</button>
          </div>
        </form>
      </div>
      <div class="footer__social-media">
        <a href="http://www.instagram.com/pacificaccipiter" target="_blank">
          <div class="footer__social-media-instagram">
            <img src="../../assets/images/instagram.svg">
            <div>
              <span>@pacificaccipiter</span>
              <span class="sub-content">Explore more photos on my Instagram</span>
            </div>
          </div>
        </a>
        <a href="https://www.youtube.com/user/PacificAccipiterHW" target="_blank">
          <div class="footer__social-media-youtube">
            <img src="../../assets/images/youtube.svg">
            <div>
              <span>PacificAccipiterHW</span>
              <span class="sub-content">Explore my YouTube channel, Julian's HW</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="footer__logo">
      <img src="../../assets/images/jhw-logo-white1.png">
    </div>
  </div>
</section>

<section class="copyright">
  <div class="copyright__container container">
    <span class="sub-content">Copyright 2021 | All Rights Reserved | By @mariasteva</span>
  </div>
</section>
