$colorBlack: rgba(35, 35, 35);
$colorBlackTransparent: rgba(35, 35, 35, .75);
$colorDarkBlueMenu: rgba(29, 60, 69, .75);
$colorDarkBlue: rgba(29, 60, 69);
$colorGrey: #A9A9A9;
$colorMildWhite: #F8F8F8;
$colorOrange: rgba(210, 96, 26);
$colorOrangeTransparent: rgba(210, 96, 26, .75);
$colorPeach: rgba(255, 233, 209);
$colorWhite: #FFFFFF;

$fontFamily: 'Roboto', sans-serif;
