@import '../../assets/scss/_variables.scss';

.header {
  height: 660px;
  overflow: hidden;
  //width: 100%;
  position: relative;
  //margin: 0 auto;

  &__overlay {
    position: absolute;
    top: 70%;
    height: 30%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, transparent, $colorBlack);
  }

  &__slider {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 16s slider infinite;

    img {
      width: 25%;
      float: left;
      object-fit: none;
      object-position: center bottom;
    }
  }

  &__dot {
    background-color: $colorMildWhite;
    border-radius: 50%;
    display: inline-block;
    margin: 0 12px;
    height: 12px;
    width: 12px;
  }

  &__slider-indicator {
    display: flex;
    height: 20px;
    justify-content: center;
    //margin: 0 auto;
    position: absolute;
    top: 95%;
    width: 100%;
    z-index: 1;
  }

  &__menu-bar {
    background-color: $colorDarkBlueMenu;
    height: 64px;
    position: absolute;
    z-index: 1;
    margin: 32px auto 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    ul {
      display: flex;
      height: inherit;
      list-style-type: none;
      text-transform: uppercase;
    }

    li {
      color: $colorWhite;
      font-size: 14px;
      margin: auto 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(transparent 50%, $colorOrange 50%);
      background-size: 250px 128px;
      transition: 0.6s;
    }

    li:hover {
      background-position: 0 -64px;
      cursor: pointer;
    }

    a {
      color: $colorWhite;
      text-decoration: none;
    }

  }

  &__featured-post {
    position: absolute;
    color: $colorWhite;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 0 auto;

    span {
      background-color: $colorOrangeTransparent;
      max-width: 500px;
      display: inline-block;
      padding: 16px;
      cursor: pointer;
      box-shadow: -4px 4px $colorBlackTransparent;
    }

    span:hover {
      border: 2px solid $colorMildWhite ;
    }
  }

}

.about-me {
  padding: 48px 0;
  background-color: $colorPeach;

  &__content {
    margin: 0 auto;
    display: flex;
    align-items: center;

    img {
      width: 160px;
      height: auto;
    }

    &-text {
      margin-left: 80px;
    }

  }
}

.recent-post {
  margin: 32px auto 0;

  &__content {
    margin: 0 auto;

    &-images {
      display: contents;

      img {
        width: 242px;
        margin-right: 8px;
        height: auto;
      }
    }

    &-text {
      padding: 24px 0 36px;
    }

    &-date {
      font-size: 14px;
      color: $colorGrey;
    }

    &-item {
      margin-bottom: 32px;
    }
  }

  &__button {
    display: flex;
    margin: 48px 0;

    button {
      width: 160px;
      margin: 0 auto;
      padding: 16px;
    }
  }

}

.footer {
  background: $colorDarkBlue;
  color: $colorWhite;
  padding: 32px 0;
  //margin: 0 auto;

  button {
    padding: 8px 24px;
  }

  input {
    border: 0;
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    min-width: 60%;
    height: 32px;
  }

  &__container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 40% 40% 20%;
  }

  &__contact-me {

    form {

      textarea {
        font-family: $fontFamily;
        min-width: 75%;
        min-height: 80px;
        padding: 8px;
        margin-bottom: 2px;
      }
    }

  }

  &__social {

    a{
      color: unset;
      text-decoration: none;
    }

    &-media {
      padding-top: 12px;

      &-instagram, &-youtube {
        display: flex;
        margin: 12px 0;

        div {
          padding-left: 16px;
        }

        span {
          display: block;
          padding: 2px;
        }

        img {
          width: 10%;
          height: auto;
        }
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: 125px;
      height: auto;
    }
  }
}

.copyright {
  color: $colorWhite;
  background-color: $colorBlack;
  height: 24px;

  &__container {
    text-align: center;
    margin: 0 auto;

    span {
      margin: 0 auto;
    }
  }
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: 0;
  }

}
