<head>
  <title>Julian's Hot Wheels Blog</title>
</head>
<body>
<section class="header">
  <figure class="header__slider">
    <img src="../../assets/images/featured-post1.JPG">
    <img src="../../assets/images/featured-post2.JPG">
    <img src="../../assets/images/featured-post3.JPG">
    <img src="../../assets/images/featured-post4.JPG">
  </figure>
  <div class="header__overlay"></div>
  <!--<div class="header__slider-indicator">-->
  <!--<div class="header__dot"></div>-->
  <!--<div class="header__dot"></div>-->
  <!--<div class="header__dot"></div>-->
  <!--<div class="header__dot"></div>-->
  <!--</div>-->
  <div class="header__menu-bar container">
    <ul>
      <li class="active-menu" [routerLink]="['']">Home</li>
      <li [routerLink]="['all-posts']">All Posts</li>
      <li [routerLink]="['most-popular']">Most Popular</li>
      <li (click)="onClickContactMe()">Contact Me</li>
    </ul>
  </div>
  <div class="header__featured-post container">
    <a href="details/8947716600215316940">
      <span style="color: #F8F8F8">Corvette Grand Sport Roadster & '14 Corvette Stingray (2016 Then and Now)</span>
    </a>
  </div>
</section>

<section class="about-me">
  <div class="about-me__content container">
    <img src="../../assets/images/jhw-logo1.png">
    <div class="about-me__content-text">
      <h1>Julian's Hot Wheels Blog </h1>
      <h3>My name is Julian and this is my blog for those who love
        Hot Wheels!
        Check back regularly for new posts! Thanks for visiting, keep collecting!</h3>
    </div>
  </div>
</section>

<section class="recent-post container">
  <h1>Recent Posts</h1>
  <div class="recent-post__content">
    <div class="recent-post__content-item" *ngFor="let post of posts | slice:0:5">
      <div style="width: 100%">
      <a href="details/{{post.id}}"><h2>{{post.title}}</h2></a>
      </div>
      <span class="recent-post__content-date">{{post.publishedDate | date:'fullDate'}}</span>
      <p class="recent-post__content-text">{{post.description}}</p>
      <div *ngFor="let imageUrl of post.imageList | slice:0:4;" class="recent-post__content-images">
        <img src="{{imageUrl}}">
      </div>
    </div>
  </div>
  <div class="recent-post__button">
    <button class="button" [routerLink]="['all-posts']">SEE MORE</button>
  </div>
</section>

<app-footer id="footer"></app-footer>
</body>
