<app-header-menu [transparentMenu]="isHomepage"></app-header-menu>

<section class="under-construction">
  <div class="under-construction__content">
    <div class="under-construction__content-box">
      <span>UNDER CONSTRUCTION</span>
      <p>I will keep adding more features and improvements to enhance this website.<br />Original website can be found
        <a style="text-decoration: underline" href="http://www.jhotwheels.com">HERE</a></p>
    </div>
  </div>
</section>

<app-footer></app-footer>
