@import '../../assets/scss/_variables.scss';

.header {
  &__menu-bar {
    background-color: $colorDarkBlue;
    height: 56px;
    z-index: 1;
    position: relative;
    margin: 32px auto 0;

    ul {
      display: flex;
      height: inherit;
      list-style-type: none;
      text-transform: uppercase;
    }

    li {
      color: $colorWhite;
      font-size: 14px;
      margin: auto 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(transparent 50%, $colorOrange 50%);
      background-size: 250px 128px;
      transition: 0.6s;

      a {
        color: $colorWhite;
        text-decoration: none;
      }
    }

    li:hover {
      background-position: 0 -64px;
      cursor: pointer;
    }

    .active-menu {
      background-color: $colorOrangeTransparent;
    }
  }
}

.recent-post {
  margin: 32px auto 0;

  &__content {
    margin: 0 auto;

    &-images {
      display: contents;

      img {
        width: 242px;
        margin-right: 8px;
        height: auto;
      }
    }

    &-text {
      padding: 24px 0 36px;
    }

    &-date {
      font-size: 14px;
      color: $colorGrey;
    }

    &-item {
      margin-bottom: 32px;

      h2 {
        cursor: pointer;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
      }

      h2:hover {
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        color: $colorOrange;
      }
    }
  }

  &__button {
    display: flex;
    margin: 48px 0;

    button {
      width: 160px;
      margin: 0 auto;
      padding: 16px;
    }
  }

  &__pagination {

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 36px;

    .separator  {
      font-size: 24px;
    }

    &-previous, &-next {
      display: flex;
      align-items: center;
      margin: 0 12px;
      cursor: pointer;
    }
    
    &-previous {

      span {
        font-size: 16px;
        font-weight: 500;
      }

      img {
        width: 25px;
        height: auto;
        margin-right: 16px;
      }
    }

    &-next {
      
      span {
        font-size: 16px;
        margin-right: 16px;
        font-weight: 500;
      }

      img {
        width: 25px;
        height: auto;
      }
    }
  }
}


