@import '../../assets/scss/_variables.scss';

.detailed-post {
  margin: 32px auto 0;

  h1 {
    margin-bottom: unset;
  }

  &__content {
    margin: 0 auto 32px;

    &-images {
      display: contents;

      img {
        width: 492px;
        margin: 0 8px 8px 0;
        height: auto;
      }
    }

    &-text {
      padding: 24px 0 36px;
    }

    &-date {
      font-size: 14px;
      color: $colorGrey;
    }
  }

  &__button {
    display: flex;
    margin: 48px 0;

    button {
      width: 160px;
      margin: 0 auto;
      padding: 16px;
    }
  }

}
